.navigation-button {
  border: none;
  padding: 1rem 3rem;
  font-size: 2.5rem;
  border-radius: 5px;
  cursor: pointer;
  display: block;
  width: fit-content;
  margin-left: auto;
  text-decoration: none;

  &--light {
    background-color: transparent;
    color: var(--external-link-color-light);
  }

  &--dark {
    background-color: #2d2d2d;
    color: var(--subtitle-color-dark);
  }

  &:hover {
    text-decoration: underline;
  }

  @media screen and (max-width: 600px) {
    font-size: 2rem;
  }
}
