.projects-container {
  display: flex;
  gap: 2rem;
  padding-top: 1rem;
  padding-bottom: 4rem;
  margin-bottom: 2rem;

  overflow-x: auto;

  // TODO
  // Snap Scroll
  // @media screen and (max-width: 767px) {
  //   scroll-snap-type: both mandatory;
  // }

  &::-webkit-scrollbar {
    height: 0.5rem;
  }

  &::-webkit-scrollbar-thumb {
    background-color: var(--scrollbar-thumb);
    border-radius: 1rem;
  }
}

.project-card {
  min-width: 30rem;
  max-width: 40rem;
  background-color: var(--card-bg);

  border: var(--section-border);

  border-radius: 0.5rem;
  flex-shrink: 0;
  display: flex;
  flex-direction: column;
  gap: 1rem;

  text-decoration: none;
  transition: transform 0.2s ease, box-shadow 0.2s ease;
  cursor: pointer;

  &--light {
    color: var(--normal-text-color-light);
  }

  &--dark {
    color: var(--normal-text-color-dark);
  }

  &:hover {
    transform: translateY(-4px);
    box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.2);
  }

  @media screen and (max-width: 600px) {
    font-size: 1.8rem;
    max-width: 35rem;
  }

  &__image {
    width: 100%;
    object-fit: cover;
    border-bottom: var(--section-border);
  }

  &__container {
    padding: 1rem 2rem;
  }

  &__title {
    font-weight: bold;
    font-size: 2rem;
    margin-bottom: 1.8rem;
  }

  &__description {
    font-size: 2rem;
  }
}
