@use "../../mixins.scss" as *;

.floating-icons {
  padding: 5rem 2rem;
  border-radius: 2rem 0 0 2rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: var(--spacing-6);
  z-index: 10;

  list-style: none;

  position: fixed;
  right: 0%;
  top: 50%;
  transform: translate(0, -50%);

  @include respond-to("tablet") {
    & {
      margin-right: 0;
      flex-direction: row;
      padding: 1rem 5rem;
      transform: translate(50%, -100%);
      border-radius: 2rem 2rem 0 0;
      top: 100%;
      right: 50%;
    }
  }

  &--light {
    border: 1px solid #ddddff;
    background-color: #ebf1f5;
  }

  &--dark {
    background-color: #5db998;
  }

  &__link {
    & svg {
      width: 22px;
      height: auto;
      transition: all 0.3s;

      &:hover {
        transform: scale(105%);
      }
    }
  }
}
