@use "../../../../mixins.scss" as *;

.navigation-bar {
  border-radius: var(--border-radius-lg);
  display: flex;
  justify-content: space-between;
  width: 100%;
  max-width: 166rem;
  padding: 2rem 8rem;
  position: sticky;
  z-index: 100;

  &__container {
    width: 100%;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  @include respond-to("mobile") {
    & {
      flex-direction: column;
      align-items: center;
      padding: 2rem;
    }
  }

  &__menu {
    display: flex;
    border-radius: var(--border-radius-lg);
    padding: 1.5rem 4rem;
    gap: var(--spacing-5);
    width: 100%;
    justify-content: space-between;
    box-shadow: var(--shadow-md);
    text-transform: lowercase;

    border: var(--section-border);

    &--light {
      background-color: var(--section-background-color-light);
    }

    &--dark {
      background-color: var(--section-background-color-dark);
    }

    @include respond-to("mobile") {
      & {
        flex-direction: column;
        align-items: center;
        width: 100%;
        padding: 1rem 0;
        border: none;
        gap: 1.5rem;
        height: 0;
        position: fixed;
        transition: height 0.3s ease-in-out;
      }

      &.open {
        display: flex;
        gap: var(--spacing-6);
        height: 100dvh;
        border-radius: 0;
        align-items: center;
        justify-content: center;
      }
    }
  }

  &__title {
    font-weight: 500;
    font-size: 2rem;

    &--left {
      &--light {
        color: #ad86e1;
      }

      &--dark {
        color: #52bdff;
      }
    }

    &--middle {
      &--light {
        color: #71665f;
      }

      &--dark {
        color: white;
      }
    }

    &--right {
      &--light {
        color: #6986ba;
      }

      &--dark {
        color: #08bdba;
      }
    }

    &--link {
      text-decoration: none;
    }

    @include respond-to("mobile") {
      & {
        display: none;
      }
    }
  }

  &__links,
  &__settings {
    display: flex;
    gap: var(--spacing-5);

    @include respond-to("mobile") {
      & {
        opacity: 0;
        display: none;
      }
    }
  }

  &__links {
    @include respond-to("mobile") {
      width: 100%;
      justify-content: center;
      flex-direction: column;
      align-items: center;
    }
  }

  &__settings {
    @include respond-to("mobile") {
      width: 100%;
      justify-content: center;
      flex-direction: row;
      align-items: center;
    }
  }

  &--light {
    .navigation-bar__link {
      color: #71665f;
    }
  }

  &--dark {
    .navigation-bar__link {
      color: var(--color-gray-500);
    }
  }

  &__link {
    text-decoration: none;
    font-size: var(--font-size-xlg);
    transition: var(--transition-duration) all var(--transition-timing-function);

    &--active {
      font-size: var(--font-size-xlg);
      pointer-events: none;

      &--light {
        color: var(--normal-text-color-light);
      }

      &--dark {
        color: var(--normal-text-color-dark);
      }
    }

    &:hover {
      text-decoration: underline;
    }
  }

  .hamburger {
    display: none;
    background: none;
    position: relative;
    cursor: pointer;
    padding: 1rem;
    z-index: 10;

    border-radius: 8px;

    &--light {
      background-color: var(--section-background-color-light);
      border: var(--section-border);
    }

    &--dark {
      background-color: var(--section-background-color-dark);
      border: var(--section-border);
    }

    @include respond-to("mobile") {
      & {
        display: flex;
        position: fixed;
        top: 0;
        width: 100%;
        justify-content: center;
      }
    }

    svg {
      width: 24px;
      height: 24px;
      stroke: currentColor;
    }
  }
}

.navigation-bar--dark .hamburger svg {
  stroke: var(--color-gray-500);
}

.navigation-bar__menu.open {

  .navigation-bar__links,
  .navigation-bar__settings {
    opacity: 1;
    transition: opacity 0.3s ease-in-out;
    display: flex;
  }
}
