.mini-about {
  font-size: 2.5rem;
  margin-bottom: 2rem;

  &--light {
    color: var(--color-black);
  }

  &--dark {
    color: var(--color-gray-400);
  }

  @media screen and (max-width: 600px) {
    font-size: 2rem;
  }
}
