node_modules/
.npm/
.yarn/
.pnp/
.solid/
.cache/

.env
.env.local
.env.development
.env.production
.env.test

npm-debug.log*
yarn-debug.log*
yarn-error.log*

dist/
build/
.next/
out/
.coverage/

.idea/
.vscode/
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

.DS_Store
.git/
.gitignore
*.md
LICENSE