.download-button {
  border: none;
  font-size: 2.5rem;
  cursor: pointer;
  display: inline-block;
  letter-spacing: 1px;
  margin-bottom: 1.5rem;

  &__link {
    display: inline-block;
    width: 22rem;
    padding: 1rem 3rem;
    border-radius: 5px;
    text-decoration: none;

    &:hover {
      text-decoration: underline;
    }
  }

  &__link--light {
    background-color: transparent;
    color: var(--external-link-color-light);
  }

  &__link--dark {
    background-color: #2d2d2d;
    color: var(--subtitle-color-dark);
  }

  &:hover {
    text-decoration: underline;
  }

  @media screen and (max-width: 600px) {
    font-size: 2rem;

    &__link {
      width: 19rem;
    }
  }
}
