@use "../../../../../../../mixins.scss" as *;

.about-description {
  font-size: var(--font-size-xlg);
  margin: 2rem;

  &--light {
    color: var(--color-gray-700);
  }

  &--dark {
    color: var(--color-gray-500);
  }

  @include respond-to("tablet") {
    & {
      font-size: 1.8rem;
      margin: 2rem 0;
    }
  }

  &__title {
    font-size: var(--font-size-xxlg);
    font-weight: var(--font-weight-normal);
    margin-bottom: var(--spacing-4);

    @include respond-to("tablet") {
      & {
        font-size: 3rem;
      }
    }

    &--light {
      color: var(--color-gray-900);
    }

    &--dark {
      color: var(--color-primary-light);
    }
  }

  &__paragraph {
    font-size: var(--font-size-xlg);
    margin: 2rem;
    max-width: 70rem;

    @include respond-to("tablet") {
      & {
        font-size: 1.8rem;
        margin: 2rem 0;
      }
    }

    @include respond-to("mobile") {
      & {
        font-size: 1.6rem;
      }
    }

    &--light {
      color: var(--color-gray-700);
    }

    &--dark {
      color: var(--color-gray-500);
    }

    &--subtitle {
      font-size: 2.5rem;

      & {
        font-size: 2.2rem;
      }

      &--light {
        color: var(--color-gray-900);
      }

      &--dark {
        color: var(--color-primary-light);
      }
    }
  }
}
