@use "../../../../mixins.scss" as *;

.custom-section {
  max-width: 150rem;
  width: 100%;
  font-weight: 400;
  box-shadow: var(--shadow-md);
  border-radius: var(--border-radius-lg);
  border: var(--section-border);
  padding: 3rem;

  &--light {
    background-color: var(--section-background-color-light);
  }

  &--dark {
    background-color: var(--section-background-color-dark);
  }

  &__title {
    align-self: flex-start;
    font-size: 3.5rem;
    font-weight: 500;

    display: block;
    width: 100%;
    max-width: 150rem;
    margin: 0 auto;

    &--light {
      color: var(--title-color-light);
    }

    &--dark {
      color: var(--title-color-dark);
    }
  }

  @media screen and (max-width: 600px) {
    padding: 2rem;
  }
}
