@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=JetBrains+Mono:ital,wght@0,100..800;1,100..800&display=swap");

:root {
  --default-font-family-mono: "JetBrains Mono", monospace;
  --default-font-family: "Inter", sans-serif;

  --body-background-color-dark: #0c0c0c;
  --body-background-color-light: #e9e0d9;

  --section-background-color-dark: #161616;
  --section-background-color-light: #f8f4f0;

  --section-border-color-dark: #b6b8bb;

  --section-border: var(--section-border-color-dark) 2px solid;

  --title-color-dark: #fff;
  --title-color-light: #6986ba;

  --normal-text-color-dark: #c5c5c5;
  --normal-text-color-light: #71665f;

  --subtitle-color-dark: #25be6a;
  --subtitle-color-light: #4f9a9c;

  --accepted-command-color-dark: #15ff00;
  --accepted-command-color-light: #4f9a9c;

  --refused-command-color-dark: #cc0403;

  --external-link-color-dark: #0dcdcd;
  --external-link-color-light: #ad86e1;

  --color-primary: #3b8c6e;
  --color-primary-light: #6ccaa8;
  --color-primary-dark: #274032;
  --color-white: #ffffff;
  --color-black: #090d09;

  --color-background-color-dark: #0f0f11;
  --color-background-color-light: #f8f9fa;

  --color-gray-100: #f8f9fa;
  --color-gray-200: #e9ecef;
  --color-gray-300: #dee2e6;
  --color-gray-400: #ced4da;
  --color-gray-500: #adb5bd;
  --color-gray-600: #6c757d;
  --color-gray-700: #495057;
  --color-gray-800: #343a40;
  --color-gray-900: #212529;

  --font-family: "Inter", sans-serif;
  --font-size-base: 1rem;
  --font-size-sm: 0.875rem;
  --font-size-lg: 1.5rem;
  --font-size-xlg: 2rem;
  --font-size-xxlg: 4rem;
  --font-size-giganteporra: 6rem;
  --font-weight-normal: 400;
  --font-weight-bold: 700;
  --line-height: 1.4;

  --spacing-1: 0.25rem;
  --spacing-2: 0.5rem;
  --spacing-3: 1rem;
  --spacing-4: 1.5rem;
  --spacing-5: 3rem;
  --spacing-6: 4rem;

  --border-radius-sm: 0.25rem;
  --border-radius-md: 0.5rem;
  --border-radius-lg: 1rem;
  --border-width: 1px;

  --shadow-sm: 0 1px 3px rgba(0, 0, 0, 0.1);
  --shadow-md: 0 4px 6px rgba(0, 0, 0, 0.1);
  --shadow-lg: 0 10px 15px rgba(0, 0, 0, 0.1);

  --transition-duration: 0.3s;
  --transition-timing-function: ease-in-out;
}

.overflow-hidden {
  overflow: hidden;
  height: 100vh;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;

  &::selection {
    color: black;
    background: #fffacd;
    text-shadow: none;
  }

  &::-moz-selection {
    color: black;
    background: #fffacd;
    text-shadow: none;
  }
}

html {
  font-size: 10px;

  font-family: var(--font-family);
  font-weight: var(--font-weight-normal);
  line-height: var(--line-height);

  scroll-behavior: smooth;
}

body {
  min-width: 320px;
  height: 100dvh;
}

div#root {
  height: 100%;
}

.fade {
  animation: fade 3s;
}

@keyframes fade {
  0% {
    opacity: 0;
  }

  50% {
    opacity: 0;
  }

  75% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}
