.tech-stack-section {
  &__image-container {
    position: relative;
    display: block;
    height: 4rem;

    @media screen and (max-width: 1180px) {
      bottom: 0;
      height: 20rem;
    }
  }

  &__image {
    position: absolute;
    bottom: -75%;
    right: 2%;

    height: auto;
    max-width: 100%;

    width: 300px;

    @media screen and (max-width: 1180px) {
      bottom: -15%;
      right: 50%;
      transform: translateX(50%);
    }

    @media screen and (max-width: 600px) {
      bottom: -10%;
      right: 50%;
      transform: translateX(50%);
    }
  }
}
