.download-button {
  display: flex;
  align-items: center;
  padding: var(--spacing-3);

  color: var(--color-primary-light);

  width: fit-content;
  font-size: 1.5rem;
  text-decoration: none;
  overflow: hidden;

  &--light {
    color: var(--color-black);
    border: 1px solid #ddddff;
    background-color: #ebf1f5;
  }

  &--dark {
    color: var(--color-primary-light);
    background-color: #1f2327;
  }

  &__link {
    color: var(--color-primary-light);
    text-decoration: none;

    &--light {
      color: var(--color-black);
    }

    &--dark {
      color: var(--color-primary-light);
    }

    &:hover {
      text-decoration: underline;
    }
  }
}
