.code-snippet {
  font-size: var(--font-size-lg);
  display: flex;
  gap: var(--spacing-6);
  align-items: center;
  max-width: fit-content;
  padding: var(--spacing-3);
  border: 1px solid transparent;

  border-radius: var(--border-radius-sm);

  &--light {
    background-color: transparent;
    color: var(--external-link-color-light);
    border-bottom: 1px solid var(--external-link-color-light);
  }

  &--dark {
    background-color: #2d2d2d;
    color: var(--subtitle-color-dark);
  }
}

.code-snippet__copy-button {
  cursor: pointer;
  background-color: transparent;
  border: none;
}
