.projects-container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  padding: 0 5rem;
  gap: 2rem;

  @media screen and (max-width: 1250px) {
    grid-template-columns: 1fr 1fr;
    padding: 0 8rem;
  }

  @media screen and (max-width: 1000px) {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0;
  }
}
