@use "../../../../../../../mixins.scss" as *;

.subtitles {
  display: flex;
  gap: var(--spacing-3);
  font-size: 2rem;

  &--light {
    color: var(--color-primary-dark);
  }

  &--dark {
    color: var(--color-primary-light);
  }
}

.xp {
  font-weight: var(--font-weight-bold);

  &--light {
    color: var(--color-black);
  }

  &--dark {
    color: var(--color-gray-400);
  }

  &--e {
    color: #0cba00;
  }
}
