@use "../../../../../../../mixins.scss" as *;

.subtitles {
  display: flex;
  flex-direction: column;
  font-size: 2.5rem;
  margin-bottom: 2rem;

  &-split {
    color: var(--normal-text-color-dark);
  }

  &--light {
    color: var(--subtitle-color-light);
  }

  &--dark {
    color: var(--subtitle-color-dark);
  }

  @media screen and (max-width: 600px) {
    font-size: 2rem;
  }
}

.xp {
  font-weight: var(--font-weight-bold);

  &--light {
    color: var(--normal-text-color-light);
  }

  &--dark {
    color: var(--color-gray-400);
  }

  &--e {
    color: #0cba00;
  }

  @media screen and (max-width: 600px) {
    font-size: 2rem;
  }
}
