.terminal-line {
  display: flex;
  gap: 2rem;
  overflow: hidden;
  white-space: nowrap;
  width: fit-content;
  margin-bottom: 3rem;

  font-size: 3rem;

  @media screen and (max-width: 600px) {
    font-size: 2rem;
    margin-bottom: 2rem;
    gap: 1rem;
  }

  &--light {
    color: var(--normal-text-color-light);
  }

  &--dark {
    color: var(--normal-text-color-dark);
  }
}

.command {
  &--error {
    color: red;
  }

  &--light {
    color: var(--accepted-command-color-light);
  }

  &--dark {
    color: var(--accepted-command-color-dark);
  }
}

.typing-animation {
  animation:
    typing 2s steps(25),
    blink 0.5s step-end infinite alternate;

  /* cursor */
  &--light {
    border-right: 10px solid gray;
  }

  &--dark {
    border-right: 10px solid white;
  }
}

@keyframes typing {
  0% {
    width: 0;
  }

  100% {
    width: 30ch;
  }
}

@keyframes blink {
  50% {
    border-color: transparent;
  }
}
