.terminal-line {
  display: flex;
  gap: 2rem;
  overflow: hidden;
  white-space: nowrap;
  width: fit-content;
  color: #ced4da;
  margin-bottom: 3rem;

  font-size: 3rem;

  /* cursor */
  border-right: 10px solid white;
  animation:
    typing 2s steps(25),
    blink 0.5s step-end infinite alternate;

  @media screen and (max-width: 600px) {
    font-size: 2rem; 
    margin-bottom: 2rem;
  }
}

.command {
  color: #19cb00;
}

@keyframes typing {
  0% {
    width: 0;
  }

  100% {
    width: 30ch;
  }
}

@keyframes blink {
  50% {
    border-color: transparent;
  }
}
