@use "@abstracts/mixins" as *;

.name-title {
  font-size: 2.5rem;
  font-weight: var(--font-weight-normal);

  &--light {
    color: var(--normal-text-color-light);
  }

  &--dark {
    color: var(--normal-text-color-dark);
  }

  @media screen and (max-width: 600px) {
    font-size: 2rem;
  }
}
