@use "../../../../../../../mixins.scss" as *;

.skills-list {
  margin: 2rem;
  max-width: 70rem;

  &__title {
    font-size: 2.5rem;
    margin-bottom: 1.5rem;
  }

  &--light {
    color: var(--color-gray-900);
  }

  &--dark {
    color: var(--color-primary-light);
  }

  &__badges {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 0.5rem;
  }

  @include respond-to("tablet") {
    & {
      font-size: 1.8rem;
      margin: 2rem 0;
    }
  }

  @include respond-to("mobile") {
    & {
      font-size: 1.6rem;
    }
  }
}
