@use "../../../../../../../mixins.scss" as *;

.greeting {
  font-size: var(--font-size-xlg);

  @include respond-to("really-large-desktop") {
    font-size: var(--font-size-xxlg);
  }

  @include respond-to("mobile") {
    & {
      font-size: var(--font-size-xlg);
    }
  }

  &--light {
    color: var(--color-primary);
  }

  &--dark {
    color: var(--color-primary-light);
  }
}
